// Minimal Bootstrap
* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  line-height: normal;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

textarea {
  overflow: auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  & > .btn {
    position: relative;
    float: left;
  }

  > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
  }

  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -1px;
  }

  > .btn:last-child:not(:first-child),
  > .dropdown-toggle:not(:first-child),
  .input-group .form-control:last-child,
  .input-group-addon:last-child,
  .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
  .input-group-btn:first-child > .btn:not(:first-child),
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .btn.active,
  > .btn:active,
  > .btn:focus,
  > .btn:hover {
    z-index: 2;
  }
}

.btn {
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  &.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }

  &.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  &.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  &.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  &.active,
  &.btn-active,
  &:active {
    background-image: none;
  }
}

.btn-primary {
  background-color: $primary;
  border-color: darken($primary, 4.85%);

  &:hover,
  &:active,
  &.active,
  &.btn-active {
    background-color: darken($primary, 9.7%);
    border-color: #204d74;
  }
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;

  &:hover {
    background-color: #c9302c;
    border-color: #ac2925;
  }
}

.btn-default {
  background-color: #fff;
  border-color: #ccc;
}

.btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;

  &:hover {
    background-color: #449d44;
    border-color: #398439;
  }
}

.btn-info {
  background-color: #5bc0de;
  border-color: #46b8da;

  &:hover {
    background-color: #31b0d5;
    border-color: #269abc;
  }
}

.btn-warning {
  background-color: #f0ad4e;
  border-color: #eea236;

  &:hover {
    background-color: #ec971f;
    border-color: #d58512;
  }
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
  display: table-cell;
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.form-control,
output {
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  display: block;
}

textarea.form-control {
  height: auto;
}

.form-control {
  height: 34px;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}

.form-group {
  margin-left: 0px;
  margin-bottom: 15px;
}

.btn,
.form-control {
  background-image: none;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}
