// Minimal Bootstrap
* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  & > .btn {
    position: relative;
    float: left;
  }

  > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
  }

  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -1px;
  }

  > .btn:last-child:not(:first-child),
  > .dropdown-toggle:not(:first-child),
  .input-group .form-control:last-child,
  .input-group-addon:last-child,
  .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
  .input-group-btn:first-child > .btn:not(:first-child),
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group > .btn,
  .input-group-btn:last-child > .dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .btn.active,
  > .btn:active,
  > .btn:focus,
  > .btn:hover {
    z-index: 2;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border-radius: 4px;

  &.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  &.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  &.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  &.active,
  &.btn-active,
  &:active {
    background-image: none;
  }
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
  display: table-cell;
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;

  .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
  }
}

.form-control,
output {
  font-size: 14px;
  line-height: 1.42857143;
  display: block;
}

textarea.form-control {
  height: auto;
}

.form-control {
  height: 34px;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;

  &:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}

.form-group {
  margin-left: 0px;
  margin-bottom: 15px;
}

.btn,
.form-control {
  background-image: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.formbuilder-required,
.required-asterisk {
  color: $error;
}

.formbuilder-checkbox-group,
.formbuilder-radio-group {
  input[type='checkbox'],
  input[type='radio'] {
    margin: 0 4px 0 0;
  }
}

.formbuilder-checkbox-inline,
.formbuilder-radio-inline {
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 0;
  label {
    input[type='text'] {
      margin-top: 0;
    }
  }
}

.formbuilder-checkbox-inline:first-child,
.formbuilder-radio-inline:first-child {
  padding-left: 0;
}

.formbuilder-autocomplete-list {
  background-color: $white;
  display: none;
  list-style: none;
  padding: 0;
  border: 1px solid $grey-light;
  border-width: 0 1px 1px;
  position: absolute;
  z-index: 20;
  max-height: 200px;
  overflow-y: auto;

  li {
    display: none;
    cursor: default;
    padding: 5px;
    margin: 0;
    transition: background-color 200ms ease-in-out;

    &:hover,
    &.active-option {
      background-color: $input-box-shadow-color;
    }
  }
}
