.cb-wrap {
  float: right;
  width: 26%;

  &.pull-left {
    .form-actions {
      float: left;
    }
  }

  h4 {
    margin-top: 0;
    color: $grey;
  }

  .save:hover {
    color: $success;
  }

  @include breakpoint('phone-lrg') {
    width: 64px;

    h4 {
      display: none;
    }
  }
}

.frmb-control {
  &.sort-enabled {
    li.ui-state-highlight {
      box-shadow: none;
      height: 0;
      width: 100%;
      background: radial-gradient(ellipse at center, rgba(84, 84, 84, 1) 0%, rgba(0, 0, 0, 0) 75%);
      border: 0 none;
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      visibility: visible;
      overflow: hidden;
      margin: 1px 0 3px;
      animation: PLACEHOLDER 250ms forwards;
    }
  }
}

.frmb-control li {
  cursor: move;
  list-style: none;
  margin: -1px 0 0;
  box-shadow: 0 0 1px 0 inset;
  padding: 10px;
  text-align: left;
  background: $white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:first-child {
    border-radius: 5px 5px 0 0;
  }

  &:last-child {
    border-radius: 0 0 5px 5px;
  }

  &:before {
    margin-right: 10px;
    font-size: 16px;
  }

  &:hover {
    background-color: darken($white, 5%);
  }

  &.ui-sortable-helper {
    border-radius: 5px;
    transition: box-shadow 250ms;
    box-shadow: 2px 2px 6px 0 $grey;
    border: 1px solid $white;
  }

  &.ui-state-highlight {
    width: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0 none;
  }

  &.moving {
    opacity: 0.6;
  }

  @include breakpoint('phone-lrg') {
    &:before {
      font-size: 30px;
    }

    span {
      display: none;
    }
  }
}

.frmb-control {
  margin: 0;
  padding: 0;
}

.form-actions {
  float: right;
  margin-top: 5px;

  .clear-all {
    &:hover {
      color: #fff;

      @extend .btn-danger:hover;
    }
  }

  .fb-mobile & {
    @extend .btn-group-vertical;

    width: 100%;

    button {
      font-size: .85em;
      display: block;
    }
  }
}
