@import "bs";
@import "variables";
@import "font";
@import "stage";
@import "kc-toggle";

textarea.idea-template {
  display: none;
  width: 617px;
  color: $off-white;
  font: 13px/19px courier;
  padding-left: 40px;
  height: 1055px;
}

.template-textarea-wrap {
  display: none;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;

  textarea {
    width: 98%;
    height: 92%;
  }
}

.form-wrap:after {
  content: "";
  display: table;
  clear: both;
}

.cb-wrap,
.stage-wrap {
  vertical-align: top;
}

.cb-wrap {
  float: right;
  width: 36%;
}

.action-links .action-links-inner {
  overflow: hidden;
  width: 0;
  height: 20px;
  transition: width 250ms;
}

.action-links .dev-mode-link {
  transition: color 250ms;
  color: $grey;
  cursor: pointer;
  padding-right: 2px;
}

.cb-wrap {
  h4 {
    margin-top: 0;
    color: $grey;
  }

  .save:hover {
    color: $success;
  }
}

.stage-wrap h4 {
  margin-top: 0;
  color: $grey;
}

.action-links a.clear-all:hover,
.del-button:hover,
ul.frmb span.required {
  color: $error;
}

.action-links a {
  color: $grey;
}

.view-xml {
  float: right;
}

.action-links a.view-xml:hover {
  color: $black;
}

.form-elements {
  background: #f7f7f7;
  box-shadow: inset 0 0 2px 0 #999;
  border-radius: 3px;
  margin: 5px 0 0;
  padding: 10px 5px;
}

.form-elements .false-label,
.form-elements .fields {
  margin-top: 10px;
}

.form-elements .fields {
  width: 70%;
  float: left;
}

.form-elements .fields .add-area .add {
  clear: both;
}

.form-elements .fields .remove {
  right: 9px;
  top: 9px;
  padding: .2em .6em;
  border-radius: 0 3px 3px 0;
}

.form-elements .sortable-options li:nth-child(1) .remove,
.form-elements .sortable-options li:nth-child(2) .remove {
  display: none;
}

ol.sortable-options {
  margin-top: 0;
}

ol.sortable-options li {
  cursor: move;
}

.form-elements .fields div {
  clear: both;
  position: relative;
}

.form-elements .fields input[type=checkbox],
.form-elements .fields input[type=radio] {
  float: left;
  margin-right: 5px;
}

.form-elements .fields input[type=text] {
  width: 39%;
  margin-right: 2%;
}

.form-elements input[type=text] {
  width: 70%;
  transition: background 250ms ease-in-out;
  padding: 5px;
  border: 1px solid #AFAFAB;
  background-color: $white;
}

.form-elements input[type=text].error {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid $error;
}

.form-elements input[type=text].fld-maxlength {
  width: 10%;
}

.form-elements input.field_error {
  background: $off-white;
  border: 1px solid #afafab;
}

.form-elements .false-label,
.form-elements label {
  width: 18%;
  float: left;
  margin-left: 5px;
  padding-right: 5%;
  font-weight: 700;
  clear: left;
  text-align: right;
  line-height: 32px;
}

.form-elements {
  label {
    &.multiple,
    &.required-label,
    &.toggle-label,
    &.roles-label {
      display: inline;
      float: none;
      font-weight: 400;
      width: auto;
    }
  }
}

.form-elements label em {
  display: block;
  font-weight: 400;
  font-size: .75em;
}

.form-elements label.maxlength-label {
  line-height: 1em;
}

.form-elements .allow-multi input {
  margin-top: 10px;
}

.form-elements .allow-multi,
.form-elements .name-wrap,
.form-elements .select-option {
  // display: none;
}

.allow-select .form-elements .allow-multi,
.allow-select .form-elements .select-option,
.edit-names .form-elements .name-wrap {
  display: block !important;
}

.frm-fld .available-roles {
  display: none;
  padding: 5px 10px;
  margin: 5px 0 10px 133px;
  width: 434px;
  background: darken($white, 10%);
  -webkit-box-shadow: inset 0 0 2px 0 #999;
  box-shadow: inset 0 0 2px 0 #999;
}

.form-elements .available-roles label {
  font-weight: 400;
  width: auto;
  float: none;
  display: inline;
}

.form-elements .available-roles input {
  display: inline;
  top: auto;
}

.form-elements,
.frm-fld,
.multi-row span,
textarea {
  display: block;
}

.form-elements:after,
.frm-fld:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.form-elements .fields div:hover,
.frmb .legend,
.frmb .prev-holder,
.frmb .prev-holder * {
  cursor: move;
}

.prev-holder input[type=checkbox],
.prev-holder input[type=radio] {
  margin-right: 5px;
}

// tooltips
.frmb-tt {
  position: absolute;
  border: 1px solid darken($grey, 25%);
  background-color: $grey;
  border-radius: 5px;
  padding: 5px;
  color: lighten($grey, 10%);
  z-index: 20;
  text-align: left;
  font-size: 12px;
}

.frmb-tt:after,
.frmb-tt:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: #666 transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -10px;
  bottom: -10px;
  left: 20px;
}

.frmb-tt:before {
  border-color: darken($grey, 25%) transparent;
  bottom: -11px;
}

.frmb-tt a {
  text-decoration: underline;
  color: $white;
}

.frmb li.moving,
.frmb li.ui-sortable-helper,
.frmb-control li.moving,
.frmb-control li.ui-sortable-helper {
  transition: box-shadow 250ms ease-in-out;
  box-shadow: 2px 2px 6px 0 $grey;
  border: 1px solid $white;
}

.frmb li {
  &:hover,
  .fb-mobile & {
    .del-button,
    .toggle-form {
      opacity: 1;
    }
  }
}

.fresh .frmb .legend .element-info {
  display: inline-block;
  visibility: visible;
  line-height: 12px;
  margin-left: 6px;
}

.frmb-control li {
  cursor: move;
  list-style: none;
  border-radius: 2px;
  margin: 0 0 5px;
  padding: 10px;
  text-align: left;
  background: $white;
  border: 1px solid $white;

  &:before {
    margin-right: 10px;
  }

  &:hover {
    border: 1px solid $grey-light;
  }

  &.ui-state-highlight {
    background-image: none;
  }
}

.frmb-control,
table.form ul.frmb-control {
  margin: 0;
  padding: 0;
  min-width: 208px;
}

.frmb-xml pre.ui-dialog-content {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: 12px;
  padding: 0 30px;
  margin-top: 0;
}

.action-links a.export-xml:hover,
.toggle-form.closed:hover {
  color: #6fc245;
}

.toggle-form.open {
  // line-height: 14px;
}

a.btn.toggle-form {
  border-radius: 2px;
  margin-left: 5px;
  opacity: 0;

  &:hover {
    border-color: lighten($grey, 40%);
  }

  &:before {
    margin: 0;
  }
}

ul.frmb {
  list-style-type: none;
  min-height: 200px;
  border: 1px solid #efefef;
  margin: 0 0 5px;
  padding: 5px 5px 0;
}

.formb-field-vars .copy-var {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #999;
  text-indent: -9999px;
}

.formb-field-vars .clipboard {
  background: url("img/clipboard-sprite.png") 50% 0 no-repeat;
}

.formb-field-vars .clipboard.copied {
  background: url("img/clipboard-sprite.png") 50% -27px no-repeat;
}

.ite-warning {
  box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
  border-radius: 0;
  border: 1px solid #ddd;
}

.ite-warning .ui-dialog-buttonpane {
  height: 27px;
}

.ite-warning button {
  color: #4479B9;
  margin: 0;
}

.ite-warning button:focus {
  outline: 0;
  font-weight: 700;
}

.ite-warning button.cancel:before {
  content: "|";
  margin-right: 15px;
  padding: 0;
}

.ite-warning .ui-dialog-content {
  padding: 0 15px 10px;
}

.ite-warning .ui-dialog-titlebar-close {
  display: none;
}

.ite-warning .ui-widget-header {
  height: 15px;
}

.ite-warning {
  font-size: 12px;
  line-height: 1.5em;
}

.ite-warning h3 {
  color: $grey;
  margin-bottom: 10px;
}

.ite-warning button {
  background: 0 0;
  padding: 2px 5px;
}

.fb-button {
  padding: 5px 10px;
  background: #00A261;
  color: $white;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.save-btn-wrap {
  float: left;
  width: auto;
}

.required-asterisk {
  display: none;
  color: $error;
}

/*   ------------   TOOLTIP   ------------   */

*[tooltip] {
  position: relative;
}

*[tooltip]:hover:after {
  background: darken($grey, 25%);
  background: rgba(0, 0, 0, 0.9);
  border-radius: 5px 5px 5px 0;
  bottom: 23px;
  color: $white;
  content: attr(tooltip);
  padding: 10px 5px;
  position: absolute;
  z-index: 98;
  left: 2px;
  width: 230px;
  text-shadow: none;
  font-size: 12px;
  line-height: 1.5em;
}

*[tooltip]:hover:before {
  border: solid;
  border-color: #222 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 17px;
  content: "";
  left: 2px;
  position: absolute;
  z-index: 99;
}

.tooltip-element {
  color: $white;
  background: $black;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  line-height: 16px;
  margin: 0 5px;
  font-size: 12px;
}
