@import 'base/variables';

.rendered-form {
  * {
    box-sizing: border-box;
  }

  &.formbuilder-embedded-bootstrap {
    @import 'base/bs';
  }
  @import 'base/fields';
  @import 'tooltip';
  @import 'kc-toggle';

  label {
    font-weight: normal;
  }

  .form-group .formbuilder-required {
    color: $error;
  }

  .other-option:checked + label {
    input {
      display: inline-block;
    }
  }

  .other-val {
    margin-left: 5px;
    display: none;
  }

  .form-control {
    &.number {
      width: auto;
    }

    &[type='color'] {
      width: 60px;
      padding: 2px;
      display: inline-block;
    }

    &[multiple] {
      height: auto;
    }
  }
.signature-container {
  border: 2px solid #000; 
  padding: 10px; 
  margin-bottom: 10px; 
  border-radius: 5px; 
}

.signature-pad {
  width: 100%; 
  height: 100%; 
}
.signature-pad.custom-style {
  border: 2px solid #000;
  background-color: #f9f9f9;
}
.clear-button {
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  right: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}
}