html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
}

.form-rendered .build-wrap,
.form-rendered .formbuilder-title,
.form-rendered .formbuilder-actions {
  display: none;
}

.render-wrap,
.formrender-title,
.formrender-actions {
  display: none;
}

.form-rendered .render-wrap,
.form-rendered .formrender-title,
.form-rendered .formrender-actions {
  display: block;
}
.api-table {
  width: 100%;
  border-collapse: collapse;
  td {
    border: 1px solid #aaa;
    padding: 16px;
    &:last-child {
      text-align: center;
    }
  }
  thead {
    background-color: #fff;
  }
  tbody {
    background-color: #fff;
    tr {
      &:nth-child(odd) {
        background-color: #ddd; 
      }
    }
  }
  textarea {
    width: 100%;
    height: 24px;
    transition: height 333ms ease-in-out;
    &:focus {
      height: 160px;
    }
  }
}

.demo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#setData-value {
  background-color: transparent;
  border: 0 none;
  color: #fff;
  padding: 0;
}

.form-builder-dialog {
  overflow-y: auto;
}
