$highlight-color: #92278F;
$color: darken($highlight-color, 20%);
$border-color: #999;
$off-white: #fefefe;
$white: #fff;
$black: #000;
$green: #00BC63;

$gray: #373737;
$dark-gray: #212121;

$brand-primary: #325D88 !default;
$brand-success: #93C54B !default;
$brand-info: #29ABE0 !default;
$brand-warning: #F47C3C !default;
$brand-danger: #d9534f !default;

//** Background color for `<body>`.
$body-bg: #fff !default;

//** Global text color on `<body>`.
$text-color: #3E3F3A !default;

//** Global textual link color.
$link-color: $brand-success !default;

//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 10%) !default;

//** Link hover decoration.
$link-hover-decoration: underline !default;
