@import "variables";
@import "reset";
@import "theme";

.demo-wrap {
  width: 100%;
}

.donate-plea {
  width: 50%;
  float: left;
  text-align: left;

  form {
    float: left;
    margin-bottom: 10px;
  }
}

.copyright {
  float: right;
  text-align: right;
}

header {}

.badges {
  margin-top: -30px;
}

.social {
  margin-top: -40px;

  .chicklets {
    text-indent: -9999px;
  }
}

em {
  color: $border-color;
  display: block;
}

fieldset {
  border: 1px solid $border-color;
  background: $off-white;
  padding: 20px;
  margin: 20px 0;
}

legend {
  border: 1px solid $border-color;
  background: $off-white;
  padding: 5px 10px;
}

#rendered-form {
  clear: both;
  float: left;
  width: 62%;
  margin-right: 2%;

  .form-group {
    > label {
      font-weight: 700;
      font-size: 1.1em;
    }
  }
}

.render-description {
  width: 36%;
  float: right;
  overflow: hidden;
}

#main_content {
  hr {
    clear: both;
  }
}

.build-form {
  margin-bottom: 30px;
}
