@import 'variables';
@import 'reset';
@import 'theme';

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body > .site-wrap {
  width: 100%;
  background-image: url('../img/demo-background.svg'), linear-gradient(to bottom, #000, #92278F), linear-gradient(to bottom, #92278F, #480246);
  background-size: 120% 100%, 100% 50%, 100% 50.5%;
  background-position: 50% 0,50% 0,50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &:after {
    content: '';
    display: block;
  }
}

@media (max-width: 481px) {
  body > .site-wrap {
    background-image: linear-gradient(to bottom, #000, #92278F), linear-gradient(to bottom, #92278F, #480246);
    background-size: 100% 50%, 100% 50.5%;
    background-position: 50% 0,50% 100%;
  }

  #project_title img {
    height: 64px;
    width: 50.3px;
  }
}

#footer-wrap {
  background: #212121;
}

.donate-plea {
  .paypal-button {
    width: 79px;
    height: auto;
    padding: 2px 10px;
    background-color: #fff;
  }

  h3 {
    color: $white;
    margin-top: 0;
  }

  form {
    float: left;
    margin-bottom: 10px;
  }
}

.copyright {
  float: right;
  text-align: right;
}

header {}

.badges {
  margin-top: -30px;
}

.social {
  margin-bottom: 20px;

  .twitter-share-button {
    margin-right: 2px;
  }
}

em {
  color: $border-color;
  display: block;
}

fieldset {
  border: 1px solid $border-color;
  background: $off-white;
  padding: 20px;
  margin: 20px 0;
}

legend {
  border: 1px solid $border-color;
  background: $off-white;
  padding: 5px 10px;
}

#rendered-form {
  .form-group {
    > label {
      font-weight: 700;
      font-size: 1.1em;
    }
  }
}

#render-form-button {
  float: right;
}

#main_content {
  hr {
    clear: both;
  }
}

.render-form {
  padding: 10px;
  border-radius: 10px;
}

.render-form {
  display: none;
  background-color: $white;
}

#fb-template {
  display: none;
}

.lower-section {
  overflow: hidden;
}
