
.icon-autocomplete:before { content: '\e800'; } /* '' */
.icon-date:before { content: '\e801'; } /* '' */
.icon-checkbox:before { content: '\e802'; } /* '' */
.icon-checkbox-group:before { content: '\e803'; } /* '' */
.icon-radio-group:before { content: '\e804'; } /* '' */
.icon-rich-text:before { content: '\e805'; } /* '' */
.icon-select:before { content: '\e806'; } /* '' */
.icon-textarea:before { content: '\e807'; } /* '' */
.icon-text:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-file:before { content: '\e80a'; } /* '' */
.icon-hidden:before { content: '\e80b'; } /* '' */
.icon-button:before { content: '\e80d'; } /* '' */
.icon-header:before { content: '\e80f'; } /* '' */
.icon-paragraph:before { content: '\e810'; } /* '' */
.icon-number:before { content: '\e811'; } /* '' */
.icon-copy:before { content: '\f24d'; } /* '' */