name: Run Jest Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        env:
          CI: true
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Build the plugin
        run: npm run build:all

      - name: Run Jest
        run: npm run test